# Disable touch screen
#xrandr --output eDP1 --mode 2048x1152
#synclient TapButton2=0
#xrandr --output eDP-1-1 --mode 1920x1080 &
#/home/popom/bin/xinput-custom-settings.sh &
#/usr/bin/touchegg /home/popom/.config/autostart/touchegg.conf &
#/home/popom/.xinitrc &
#exec xmonad
exec xmonad-session
